body {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}


table {
  background-color: skyblue;
  margin: 0 auto;
  border: solid 4px black;
  border-collapse: collapse;
}


td {
  padding: 20px;
  border: solid 3px black;
  text-align: center;
  font-size: 30px;
}

button {
  width: 80px;
  margin: 0 20px;
}

.red {
  background-color: red;
}

.stop {
  background-color: green;
}